@model AudioDevices.TrackList
@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GetAllTracks().FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetAllTracks().FirstOrDefault().Artist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetAllTracks().FirstOrDefault().Style)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetAllTracks().FirstOrDefault().AlbumSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetAllTracks().FirstOrDefault().DisplayLength)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model.Shuffle()) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Style)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumSource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayLength)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}       
</table>
<h5>Totale tijd : @Model.TotalTime</h5>
<hr />
           
